<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/"> <i class="fa-brands fa-facebook"></i></a>   
            <a href="https://www.instagram.com/"> <i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
    <div>&copy;Wanderlust Private ltd </div>
    <div class="f-info-links">
        <a href="/privacy"> privacy</a>
        <a href="/terms"> Terms</a>
    </div>
</footer>